.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 10px 10px black;
  text-align: center;
  cursor: pointer;
}

.card > h2 {
  front-size: 32px;
  border-left: 6px solid #A9D3E9;
}

.card > img {
    border-radius: 10px;
}